[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This project provides a compenent that reads logs from Kafka and writes it as parquet file on HDFS.
[access "refs/*"]
	owner = group user/bozorgzadeh
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/bozorgzadeh
	label-Verified = -1..+1 group user/bozorgzadeh
	push = group user/bozorgzadeh
	read = group user/bozorgzadeh
	rebase = group user/bozorgzadeh
	removeReviewer = group user/bozorgzadeh
	submit = group user/bozorgzadeh
[access "refs/heads/*"]
	create = group user/bozorgzadeh
	push = +force group user/bozorgzadeh
	pushMerge = group user/bozorgzadeh
	read = group user/bozorgzadeh
[access "refs/tags/*"]
	push = group user/bozorgzadeh
	push = +force group user/bozorgzadeh
